.border-white{
	border-left: 14px solid $white;
	border-right: 14px solid $white;
}
.orangebutton{
	color: $white;
	font-family: 'bebas';
	background-color: $naranja;
	padding: 8px 18px;
	display: inline-block;
	margin: 14px 0px;
	border: 2px solid $naranja;
	&:hover, &:focus{
		color: $naranja;
		background-color: $white;
		text-decoration: none;
	}
}