@mixin imgback($url){
	background-image: $url;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 60px;
}
.slider_area{
	margin-top: -50px;
	img{
		width: 100%;
		@extend .border-white;
	}
}



.portfolio{
	h2{
		@include imgback(url(../images/portfolio.png));
	}
}
.offer{
	h2{
		@include imgback(url(../images/offer.png));
	}
}
.follow{
	h2{
		@include imgback(url(../images/follow.png));
	}
}