@mixin imgback($url){
	background-image: $url;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 50px;
}
.slider_area{
	margin-top: -50px;
	img{
		width: 100%;
		@extend .border-white;
	}
}
.structure{
	padding-top: 20px;
	h4{
		font-size: 20px;
		padding-bottom: 14px;
		padding-left: 62px;
		line-height: 1.4;
	}
	p{
		font-family: Sans-Serif;
		line-height: 1.42;
	}
}
.portfolio{
	h4{
		@include imgback(url(../images/portfolio.png));
	}
}
.offer{
	h4{
		@include imgback(url(../images/offer.png));
	}
}
.follow{
	h4{
		@include imgback(url(../images/follow.png));
	}
}