@font-face {
 font-family: "Helvetica";
 src: url("../font/HelveticaNeue.eot");
 src: url("../font/HelveticaNeue.ttf");
 src: url("../font/HelveticaNeue.woff");
}
@font-face {
 font-family: "bebas";
 src: url("../font/bebas___-webfont.eot");
 src: url("../font/bebas___-webfont.svg");
 src: url("../font/bebas___-webfont.ttf");
 src: url("../font/bebas___-webfont.woff");
}
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	-webkit-transition: .2s;
    transition: .2s;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'bebas';
	color: $naranja;
}
section{
	padding: 20px 14px;
}
.dash{
	background-image: url(../images/heading-bg.png);
	background-repeat: repeat-x;
	background-position: right;
	background-size: auto;
	margin-bottom: 28px;
	span{
		background-color: $white;
		padding: 0px 35px 14px 0px;
	}
	&.only{
		margin-top: 20px;
		margin-bottom: 50px;
		height: 20px;
	}
}
.post{
	&:hover{
		text-decoration: none;
		div{
			background-color: #FFE2DA;
			-webkit-transition: .4s;
    		transition: .4s;
		}
	}
	img{
		@extend .w-100;
		border-bottom: 7px solid $white;
	}
	div{
		@include border-left($gray-border);
		@include border-right($gray-border);
		@include border-bottom($gray-border);
		padding: 20px 25px 15px 25px;
		h4{
			color: #989898;
		}
	}
}
