@font-face {
 font-family: "Helvetica";
 src: url("../font/HelveticaNeue.eot");
 src: url("../font/HelveticaNeue.ttf");
 src: url("../font/HelveticaNeue.woff");
}
@font-face {
 font-family: "bebas";
 src: url("../font/bebas___-webfont.eot");
 src: url("../font/bebas___-webfont.svg");
 src: url("../font/bebas___-webfont.ttf");
 src: url("../font/bebas___-webfont.woff");
}
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	-webkit-transition: .2s;
    transition: .2s;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'bebas';
	color: $naranja;
}
section{
	padding-left: 14px;
	padding-right: 14px;
}